{% extends "default.twig" %}
{% block title %}Stránka nenalezena{% endblock %}

{% block content %}
    <h1>Požadovaná stránka neexistuje</h1>
    <p>Vratťe se zpět na 
        <a href="index.php">domovskou stránku</a>!
        <br>
         <img src="public/pic/obr10.jpg" alt="Oooops">
    </p>
{% endblock %}