<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>



        <!-- Bootstrap -->
        <link href="libs/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {#        Validator formularu v script.js ho aplikuji na nejaky formular a on overi, zdali jsou vyplnena pole #}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
        <script src="libs/Bootstrap/js/bootstrap.min.js"></script>
        {#        Vlastní styl a javascript     #}
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <script src="public/js/script.js"></script>

    </head>
    <body>
        <div class="container">


            <div class="page-header">
                <h1><a href="index.php"> Národní výstava psů Klatovy 2015</a> <small class="righttext"><br>20.6 - 21.6.2015</small></h1>
            </div>


            <div class="navigace">
                <ul class="nav nav-tabs" role="tablist">
                    <li {% if page == "homepage" %}class="active"{%endif%}><a href="index.php">Vítejte</a>
                    </li>
                    <li {% if page == "novinky" %}class="active"{%endif%}><a href="index.php?page=novinky">Novinky</a>
                    </li>
                    <li {% if page == "vystavovatele" %}class="active"{%endif%}><a href="index.php?page=vystavovatele">Vystavovatelé</a>
                    </li>
                    <li {% if page == "psi" %}class="active"{%endif%}><a href="index.php?page=psi">Seznam psů</a>
                    </li> 
                    <li {% if page == "rozhodci" %}class="active"{%endif%}><a href="index.php?page=rozhodci">Rozhodčí</a>
                    </li>
                    <li {% if page == "registrace" %}class="active"{%endif%}><a href="index.php?page=registrace">Předběžná registrace</a>
                    </li>
                    <li {% if page == "sprava" %}class="active"{%endif%}><a href="index.php?page=sprava">Správa</a>
                    </li> 
                    {% if user is not null %}
                        <li {% if page == "novyrozhodci" %}class="active"{%endif%}><a href="index.php?page=novyrozhodci">Přidat rozhodčího</a>
                        </li> 
                    {% endif %}
                    {% if user is not null %}
                        <p>Přihlášen jako: Admin <a href="index.php?logout">Odhlasit!</a></p>
                    {% endif %}
                </ul>
                    
            </div>

            <div class="content col-md-8">
                {% if hlaska != "" %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{hlaska}}
                    </div>
                {%endif%}
            {% block content %}{% endblock %}
            </div>
            
            <div class="menu col-md-4"></div>
            </div>
 
</body>
</html>