{% extends "default.twig" %}
{% block title %}Domovská stránka{% endblock %}

{% block content %}
    <div class="homepage">
    <h1> Vítejte</h1>

    <p>
        
        Chtěli bychom Vás srdečně pozvat na národní výstavu psů, kerá se
        uskuteční ve dnech 20.6.-21.6.2015 v Klatovech.
    </p>
    <p>Pro více informací o Klatovech a blízkém okolí můžete navštívit stránky <a href="http://www.sumavanet.cz/" target="_blank">ŠumavaNet</a>.</p>
    <p>Podrobnou cestu přes město si můžete prohlédnout <a href="public/pic/obr12.jpg" target="_blank">zde</a>.</p>
    <p>Podrobnou podrobnou mapku areálu si můžete prohlédnout <a href="public/pic/obr13.jpg" target="_blank">zde</a>.</p>
    <img src="public/pic/klatovy.jpg" alt="Klatovy">
    </div>
{% endblock %}