{% extends "default.twig" %}
{% block title %}Novinky{% endblock %}

{% block content %}
    <div>
        <h1>Poslední úpravy</h1>
        <br>
        <h3>Byla přidána mapa areálu.</h3>
        <br>
        <h3>Byla otevřena předběžná registrace.</h3>
        <br>
        <h3>Datum výstavy byl stanoven na 20.6.-21.6.2015.</h3>
    </div>
    
{% endblock %}