{% extends "default.twig" %}
{% block title %}Přidat rozhodčího{% endblock %}

{% block content %}
    <div class="rozhod">
        <h1>Přidat nového rozhodčího</h1>
                {% if user is not null %}
                    <form action="" id="newRozh" method="post" novalidate="novalidate">

                        <div class="form-group">
                            <label for="rozhod[jmeno]" class="control-label">Jméno</label>
                            <input type="text" class="form-control" name="rozhod[jmeno]"  required title="Prosím vyplňte jméno" placeholder="Jméno">
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">
                            <label for="rozhod[prijmeni]" class="control-label">Příjmení</label>
                            <input type="text" class="form-control" name="rozhod[prijmeni]"  required title="Prosím vyplňte příjmení" placeholder="Příjmení">
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">
                            <label for="rozhod[kruh]" class="control-label">Číslo kruhu</label>
                            <input type="text" class="form-control" name="rozhod[kruh]"  required title="Prosím vyplňte číslo kruhu" placeholder="Číslo kruhu">
                            <span class="help-block"></span>
                        </div>
                        <input type="submit" name="newRozhod" value="Přidat" class="btn btn-primary btn-block">
                    </form>                      
                       
                {% endif %}

            </div>
{% endblock %}